.organizer {
    padding-inline: 5vw;
    min-height: 100vh;
    background-image: url('/images/paper_background_2.jpeg');
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

.organizer h2 {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

.top {
    display: grid;
    grid-template-columns: 60% 40%;
}

.left {

}

.right {

}

.info {
    display: flexbox;
    flex-direction: row;
    margin-bottom: 10vh;
}

.item {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: 5vh;
}

.item h3 {
    font-family: "Montserrat", sans-serif;
    color: #8E8E8E;
    font-weight: 700;
}

.item h2 {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.item p {
    font-family: "Inter", sans-serif;
}

.item span {
    color: #8E8E8E;
    font-weight: 400;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D4D4D;
    border-radius: 50%;
    overflow: hidden;
    width: 270px;
    height: 270px;
}