@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Dr+Sugiyama&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dr+Sugiyama&family=Montserrat:ital,wght@0,800;1,800&display=swap');





 .explore-exclamation{
position: absolute;
width: 28px;
height: 65px;
left: 66px;
top: 50%;
left: 50%;
transform: translate(380%,340%);
background: url('/images/explore_exclamation.png');
 }

.explore-underline{
  position: absolute;
  width: 213px;
  height: 42px;
  left: 66px;
  top: 50%;
  left: 50%;
  transform: translate(-40%,670%);
  background: url('/images/underline.png');
}
.explore-scribble{

    position: absolute;
    width: 53px;
    height: 60px;
    left: 66px;
    top: 50%;
    left: 50%;
    transform: translate(220%,320%);
    background: url('/images/explore_scribble.png');
}
 .explore-person-with-hat{

position: absolute;
width: 350px;
height: 705px;
left: 720.03px;
top: 50%;
left: 50%;
transform: translate(90%,-7%);
transition: transform 0.5s; 
background: url('/images/person_with_hat.png');
}

@keyframes person-with-hat-wiggleAnimation {
  0%, 100% { transform: translate(90%,-7%) rotate(-5deg); }
  50% { transform: translate(90%,-7%) rotate(5deg); }
}

.explore-person-with-hat:hover {
  animation: person-with-hat-wiggleAnimation 0.5s ease-in-out infinite;
  
}

.explore-bulb{
position: absolute;
width: 173.74px;
height: 173.74px;
left: 896px;
top: 50%;
left: 50%;
transform: translate(90%, 130%);
background: url('/images/bulb.png');


}

.explore-confetti{
position: absolute;
width: 220px;
height: 250px;
top: 50%;
left: 50%;
transform: translate(-250%, 50%);
transition: transform 0.5s; 
background: url('/images/confetti.png');
}

@keyframes confetti-wiggle-Animation {
  0%, 100% { transform: translate(-250%, 50%) rotate(-5deg); }
  50% { transform: translate(-250%, 50%) rotate(5deg); }
}

.explore-confetti:hover {
  animation: confetti-wiggle-Animation 0.5s ease-in-out infinite;
  
}

.explore-sitting-person{
position: absolute;
width: 367px;
height: 257px;
top: 50%;
left: 50%;
transform: translate(-150%, -100%);
transition: transform 0.5s; 
background: url('/images/person2.png');
}

@keyframes sitting-person-wiggle-Animation {
  0%, 100% { transform: translate(-150%, -100%) rotate(-5deg); }
  50% { transform: translate(-150%, -100%) rotate(5deg); }
}

.explore-sitting-person:hover {
  animation: sitting-person-wiggle-Animation 0.5s ease-in-out infinite;
  
}

.explore-smile{
position: absolute;
width: 266.72px;
height: 239.78px;
top: 50%;
left: 50%;
transform: translate(120%, -80%);
transition: transform 0.5s; 
background: url('/images/smile.png');
}

@keyframes smile-wiggle-Animation {
  0%, 100% { transform: translate(120%, -80%) rotate(-5deg); }
  50% { transform: translate(120%, -80%) rotate(5deg); }
}

.explore-smile:hover {
  animation: smile-wiggle-Animation 0.5s ease-in-out infinite;
  
}


.explore-rocket{


position: absolute;
width: 130.61px;
height: 130.61px;
top: 50%;
left: 50%;
transform: translate(300%, -250%);

background: url('/images/rocket.png');


} 
    



.title{
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 15rem; 
}
.text-style {
  font-size: 128px; 
  margin: 0;
}
.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: #f3f3f3;
    opacity: 0.3;
    text-shadow:
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
  
}

.dr-sugiyama-regular {
    font-family: "Dr Sugiyama", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 150px; 
    position: relative; 
    top: -20px;
    padding-left: 20px; 
    padding-right: 20px; 
  }
  

/* Montserrat with a "stroke" effect */
.montserratStroke {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;

  
}

.explore-link-container {
  display: flex;
  justify-content: center;
  margin-top: 60px; 
 
  
}



.explore-link {
  font-size: 40px;
  text-decoration: none; 
  padding: 0px 0px;
  border-radius: 0px;
  transform: rotate(-5deg);
  transition: background-color 0.3s, color 0.3s; 
}

.explore-link:hover {
  background-color: #EAFF01;
}

.center-container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1; 
  justify-content: center;
  height : 100vh;
  margin: 0 auto;
}


html,body{
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  background-image: url('/images/about_background.png');
  background-size: cover;
  background-position: center top;
  background-attachment: scroll;
  height: auto;
}



.Home-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Home-logo {
    animation: Home-logo-spin infinite 20s linear;
  }
}

.Home-header {
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home-link {
  color: #61dafb;
}

@keyframes Home-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

